.container
  #battery_form.span-6{:style => "float:left"}
    = form_tag( { :controller => :calculate, :action => :crunch }, {:name => "bform",:id => "bform", :remote => true } ) do
      .odd
        = label("device","Select a Device")
        = select( "device", "name", @devices,:prompt => "Select a Device")
      .even
        = label("motion","Motion Check-in Rate")
        .clear
        = select( "motion", "hour", @hours, {:prompt => "HH"})
        = select( "motion", "minute", @minutes, {:prompt => "MM"})
      .odd
        = label("stationary","Stationary Check-in Rate",:id => "sci_label")
        .clear
        = select( "stationary", "hour", @hours, {:prompt => "HH"})
        = select( "stationary", "minute", @minutes, {:prompt => "MM"})
      .even
        = label("tim","Time in Motion")
        = select( "tim", "percent", @percentage)
      .odd
        = label_tag(:hibernate, "Hibernation Enabled")
        = check_box_tag(:hibernate,"",false,:class=>"submittable")
      .even
        = submit_tag("Calculate",{:id => "submit"})
  #calculation_results.span_18.first{:style=>"float:right"}
    = render "grid"
